{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ]
    ],
    "ignore": ["src/public/js/formData.mjs"]
  }
  